<div>
    <h1 style="color: aliceblue;" class="tituloSecao">Sobre o JackPot</h1>
    <div class="card introducao">
        <div class="introducaoNos">
            <p>Parece que hoje é seu dia de sorte!!!<br>A jackpot-burger esta ON e seus lanches são as melhores apostas que você pode provar!</p>
            <img src="../../assets/sobre_nos/sobrenos-introducao.webp" style="width: 10%;">
        </div>
    </div>
    <div class="card jogos">
        <div class="introducaoNos">
            <img src="../../assets/sobre_nos/sobrenos-introducao.webp" style="width: 10%;">
            <p>Chamem seus amigos e separem suas fichas!<br>Aqui temos diversas opções de jogos de azar e até jogos casuais.</p>
        </div>
    </div>
    <div class="card endIntro">
        <div class="introducaoNos">
            <p>Então façam suas apostas e peçam seus lanches <br>Nossos lanches vão redifinir seu conceito de Jackpot.</p>
            <img src="../../assets/sobre_nos/sobrenos-introducao.webp" style="width: 10%;">
        </div>
    </div>
</div>
