<section class = "Mapa">
    <h3 class ="titulo_mapa">
        Suas apostas começam conosco!!!
    </h3>
    <p class ="titulo_mapa">
        Nosso casa de apostas e lanches se localiza aqui
    </p>


    <div class="Map_visao" >
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7309.712478257555!2d-46.56973129093797!3d-23.645318944437317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4328c992748f%3A0xcea3c3e698444297!2sSENAI%20S%C3%A3o%20Caetano%20do%20Sul!5e0!3m2!1spt-BR!2sbr!4v1662076587844!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>