<header>
    <div class="flex">
        <img src="../assets/logo.webp" class="logo"/>
        <h3 class="headerTitle">JackPot Burger</h3>
    </div>
    <nav>
        <ul class="ulHeader">
            <!--LI representa um item de lista-->
            <li class="liHeader" (click)="scrollToSection('secaoSobre')"><a>Sobre Nos</a></li>
            <li class="liHeader" (click)="scrollToSection('secaoProduto')"><a>Promoções</a></li>
            <li class="liHeader" (click)="scrollToEnd()"><a>Pedido</a></li>
        </ul>
        <button mat-button [matMenuTriggerFor]="menu">Selecione a página</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/" routerLinkActive="active">Inicio</button>
            <button mat-menu-item routerLink="/contato" routerLinkActive="active">Contato</button>
            <button mat-menu-item routerLink="/localizacao" routerLinkActive="active">Localização</button>
            <button mat-menu-item routerLink="/cassinos" routerLinkActive="active">Cassinos</button>
            <button mat-menu-item routerLink="/trabalheConosco" routerLinkActive="active">Trabalhe Conosco</button>
        </mat-menu>
    </nav>
</header>
<router-outlet></router-outlet>
