.cassinoBody{
    padding-top: 5%;
    padding-bottom: 10%;
    background-color: rgb(33, 33, 33);
    /* background-image: url('../../assets/cassino-mesa-verde.jpg'); */
    /* background-size: auto; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.divSepara{
    background-color: sandybrown;
    width: 440px;
    height: 5px;
    margin-left: 38%;
     transform: scaleX(-1);
}

.img1{
    scale: 0.3;
    position: absolute;
    margin-left: -47%;
    margin-top: -6%;
    border: orange inset 15px;

}

.divImg1{
    margin: 0;

}

.direciona1{
    margin-left: 35%;
    
}

.direciona2{
    transform: scaleX(-1);
    margin-left: 55%;
    position: absolute;
    margin-top: 15%;

}

.img2{
    scale: 0.4;
    position: absolute;
    border: orange outset 15px;

    margin-left: 30%;
    margin-top: 13%;
}

.img3{
    scale: 0.7;
    border: orange inset 15px;
    margin-left: 20%;
    margin-top: 43%;
}


.direciona3{
    margin-left: 40%;
    position: absolute;
    margin-top: 37%;
}