
<div class="cassinoBody">
    <h3 style="color: sandybrown; font-size: 30px;" class="tituloSecao">Nossa area</h3>
    <div class="divSepara"></div>
    <div class="divImg1">
        <img class="direciona1" src="../../assets/cassinos/direcionamento.png">
        <img class="img1" src="../../assets/cassinos/cassino1.jpg">
    </div>
    
    <div class="divImg2">
        <img class="direciona2" src="../../assets/cassinos/direcionamento.png">
        <img class="img2" src="../../assets/cassinos/cassino2.jpg">
    </div>

    <div class="divImg3">
        <img class="direciona3" src="../../assets/cassinos/direcionamento.png">
        <img class="img3" src="../../assets/cassinos/cassino3.jpg">
    </div>
</div>